* {
  box-sizing: border-box;
}

html,
html > body {
  margin: 0px;
  padding: 0px;
}

/*
  Inland Northern Blue:
    rgb(22, 49, 84) or #163154
  Inland Northern "Wheat":
    rgb(203, 172, 74) or #cbac4a
*/

.header {
  background-color: #163154;
  padding: 5px 40px 0px;
  text-align: center;
}
.header h1 {
  color: white;
  font-family: "Franklin Gothic", Arial, sans-serif;
  margin: 0px;
}

.container {
  padding: 10px;
}

.message-banner {
  background-color: #cbac4a;
  border-bottom: 8px solid #163154;
  padding: 5px 40px;
}
.message-banner h3 {
  text-align: center;
  margin: 0px;
}
